body{
    background-color: rgb(249, 249, 249);
    font-family: Consolas;


}
h1{
    margin-left: 20px;


}
h2{
    margin-left: 20px;
    color: rgb(64, 64, 64) ;

}
p{
    margin-left: 20px;
}

.kamil{
    font-size: 40px;
    color: white;


}
.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    box-sizing: border-box;
}
.name-photo{
    background-color: rgb(44, 44, 44);
    display: flex;
    width: 100%;
    aspect-ratio: 3/1;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 20px;

}
.name{
    /*background-color: darkgray;*/
    width: 60%;


}
.photo{
    /*background-color: blueviolet;*/
    width: 40%;

}
.circle-img{
    width: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-top: 5%;
    margin-left: 10%;
    border: 4px solid white;


}
.text{
    /*background-color: beige;*/
    width: 100%;
    height: 500px;

}
.social-media{
    width: 100%;
    display: flex;
    justify-content: center;




}
.name-text{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;


}
.about-me{
    width: 100%;
    height: auto;
    background-color: rgb(237, 237, 237);
    border-radius: 20px 20px 20px 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;




}
.skills{
    width: 100%;
    height: auto;
    background-color: rgb(237, 237, 237);
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.experience{
    width: 100%;
    height: auto;
    background-color: rgb(237, 237, 237);
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.school{
    width: 100%;
    height: auto;
    background-color: rgb(237, 237, 237);
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.projects{
    width: 100%;
    height: auto;
    background-color: rgb(237, 237, 237);
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.courses{
    width: 100%;
    height: auto;
    background-color: rgb(237, 237, 237);
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}




@media (max-width: 768px) {
    .name-photo {
        flex-direction: column;

    }

    .name, .photo {
        width: 100%;
    }

    .circle-img {
        margin: 20px auto;
        max-width: 150px;
        width: 100%;

    }
    .kamil{
        font-size: 30px;
    }
    h1{
        font-size: 20px;
        background-color: rgb(237, 237, 237);
        padding-left: 20px;
        border-radius: 20px 20px 20px 20px;
    }
    h2{
        font-size: 18px;
    }
    .about-me{
        margin-bottom: 0;
        border-radius: 0;
        background-color:rgb(249, 249, 249);
    }
    .skills{
        margin-bottom: 0;
        border-radius: 0;
        background-color:rgb(249, 249, 249);
    }
    .experience{
        margin-bottom: 0;
        border-radius: 0;
        background-color:rgb(249, 249, 249);
    }
    .school{
        margin-bottom: 0;
        border-radius: 0;
        background-color:rgb(249, 249, 249);
    }
    .projects{
        margin-bottom: 0;
        border-radius: 0;
        background-color:rgb(249, 249, 249);
    }
    .courses{
        margin-bottom: 0;
        border-radius: 0;
        background-color:rgb(249, 249, 249);
    }
}




