body{
    background-color: rgb(43, 43, 51);
    font-family: Consolas;
    margin: 0;
    padding: 0;
    padding-top: 60px;


}
h1{
    margin-left: 20px;



}
h2{
    margin-left: 20px;
    /*color: rgb(64, 64, 64) ;*/
    color: #ce9178;

}
p{
    margin-left: 20px;
}

.kamil{
    font-size: 40px;
    color: white;


}
.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    box-sizing: border-box;
}
.name-photo{
    /*background-color: rgb(44, 44, 44);*/
    display: flex;
    width: 100%;
    aspect-ratio: 3/1;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 20px;

}
.name{
    /*background-color: darkgray;*/
    width: 60%;


}
.photo{
    /*background-color: blueviolet;*/
    width: 40%;

}
.circle-img{
    width: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-top: 5%;
    margin-left: 10%;
    border: 4px solid white;


}
.text{
    /*background-color: beige;*/
    width: 100%;
    height: 500px;

}
.social-media{
    width: 100%;
    display: flex;
    justify-content: center;




}
.name-text{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;


}
.about-me{
    width: 100%;
    height: auto;
    /*background-color: rgb(237, 237, 237);*/
    background-color: #1e1e1e; /* Ciemny jak terminal VSCode */
    color: #d4d4d4;            /* Szary jak tekst w edytorze */
    border: 1px solid #3c3c3c;
    border-radius: 20px 20px 20px 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;




}
.skills{
    width: 100%;
    height: auto;
    background-color: #1e1e1e; /* Ciemny jak terminal VSCode */
    color: #d4d4d4;            /* Szary jak tekst w edytorze */
    border: 1px solid #3c3c3c;
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.experience{
    width: 100%;
    height: auto;
    background-color: #1e1e1e; /* Ciemny jak terminal VSCode */
    color: #d4d4d4;            /* Szary jak tekst w edytorze */
    border: 1px solid #3c3c3c;
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.school{
    width: 100%;
    height: auto;
    background-color: #1e1e1e; /* Ciemny jak terminal VSCode */
    color: #d4d4d4;            /* Szary jak tekst w edytorze */
    border: 1px solid #3c3c3c;
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.projects{
    width: 100%;
    height: auto;
    background-color: #1e1e1e; /* Ciemny jak terminal VSCode */
    color: #d4d4d4;            /* Szary jak tekst w edytorze */
    border: 1px solid #3c3c3c;
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.courses{
    width: 100%;
    height: auto;
    background-color: #1e1e1e; /* Ciemny jak terminal VSCode */
    color: #d4d4d4;            /* Szary jak tekst w edytorze */
    border: 1px solid #3c3c3c;
    border-radius: 20px 20px 20px 20px;

    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}
.mobile-only {
    display: none;
}
.mobile-only-fat{
    display: none;
}

/*-----------------------*/
header {
    width: 100%;
    /*background-color: rgb(17, 16, 33);*/
    /*color: white;*/
    background-color: #0d1117;
    color: #c9d1d9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-right: 100px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #00bfff;
}

/* Hamburger */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}
html {
    scroll-padding-top: 60px; /* dopasuj do wysokości menu */
}
h1 .icon {
    width: 36px;          /* szerokość */
    height: 36px;         /* wysokość */
    margin-right: 10px;   /* odstęp od tekstu */
    vertical-align: middle;
    object-fit: contain;  /* zachowaj proporcje */
}



@media (max-width: 768px) {
    body{
        color: rgb(230, 230, 230);
        font-family: lato;
    }
    .name-text{
        font-family: Consolas, Menlo, Monaco, monospace;
    }
    .name-photo {
        flex-direction: column;

    }

    .name, .photo {
        width: 100%;
    }

    .circle-img {
        margin: 20px auto;
        max-width: 150px;
        width: 100%;

    }
    .kamil{
        font-size: 30px;
    }
    h1{
        font-size: 20px;
        color: white;
        font-family: Consolas, Menlo, Monaco, monospace;
        /*background-color: rgb(237, 237, 237);*/
        /*padding-left: 20px;*/
        /*border-radius: 20px 20px 20px 20px;*/
    }
    h2{
        font-family: Consolas, Menlo, Monaco, monospace;
        font-size: 18px;
        /*color: white;*/
        color: #ce9178;
    }
    .about-me{
        margin-bottom: 0;
        border-radius: 0;
        background-color: rgb(43, 43, 51);
        border: none;
    }
    .skills{
        margin-bottom: 0;
        border-radius: 0;
        background-color: rgb(43, 43, 51);
        border: none;
    }
    .experience{
        margin-bottom: 0;
        border-radius: 0;
        background-color: rgb(43, 43, 51);
        border: none;
    }
    .school{
        margin-bottom: 0;
        border-radius: 0;
        background-color: rgb(43, 43, 51);
        border: none;
    }
    .projects{
        margin-bottom: 0;
        border-radius: 0;
        background-color: rgb(43, 43, 51);
        border: none;
    }
    .courses{
        margin-bottom: 0;
        border-radius: 0;
        background-color: rgb(43, 43, 51);
        border: none;
    }
    .mobile-only {
        display: block;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        margin: 0;
    }
    .mobile-only-fat{
        display: block;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        margin: 0;
    }
    /*-----------------*/
    header{
        background-color: transparent;
    }
    .logo{
        display: none;
    }
    .navbar{
        padding-right: 20px;


    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0d1117;
        color: #c9d1d9;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        z-index: 998;
        padding: 0;

    }
    .menu li {
        padding: 10px 0;
    }

    #menu-toggle:checked + .hamburger + .menu {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        z-index: 999;
        position: relative;
        margin-left: auto;
    }
    .hamburger img {
        width: 36px;         /* szerokość ikony */
        height: 36px;        /* wysokość ikony */
        object-fit: contain; /* zachowaj proporcje */
    }
    html {
        scroll-padding-top: 10px; /* dopasuj do wysokości menu */
    }

}




